.knowledge-drop-card {
    width: clamp(300px, 60vw, 500px);
    margin: 2rem;
}

.card-title {
    font-family: var(--font-dm-sans-bold);
    font-size: var(--font-size-heading);
}

.review-card-summary {
    margin: 0 0 0.25em;
    padding: 0.25em 0;
    font-family: var(--font-dm-sans-light);
    border-bottom: 1px solid black;
}