.review-card-title {
    font-family: 'Courier New', Courier, monospace;
}

.review-card-title b {
    font-family: var(--font-dm-sans);
    font-size: var(--font-size-heading);
    font-weight: 600;
}

.review-card-comments {
    margin-top: 0.4em;
    padding-bottom: 0.25em;
    font-family: var(--font-dm-sans);
    border-bottom: 1px solid var(--foreground);
    line-height: 130%;
}