:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #21295C;
  --secondary-color: #E1EFFF;
  --secondary-color-medium: #9AC4F8;
  --secondary-color-dark: #4781C8;
  --text-color: #111111;

  --font-size-large: 3rem;
  --font-size-heading: 2rem;
  --font-size-medium: 1.25rem;
  --font-size-small: 1rem;

  --section-padding: 3rem;
  --footer-height: 250px;
  --footer-padding-vertical: 2rem;
  --footer-padding-horizontal: 1rem; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-bottom: var(--footer-height);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

ul, ol {
  list-style: none;
}
