.knowledge-drop-title {
    font-family: var(--font-space-grotesk-bold);
    font-size: var(--font-size-large);
    font-weight: 600;
}

.knowledge-drop-subheadings {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid var(--foreground);
}

.knowledge-drop-author {
    font-family: var(--font-dm-sans);
    font-size: var(--font-size-medium);
}

.knowledge-drop-date {
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size-small);
    font-weight: 100;
}